*{
	margin: 0;
	padding: 0;
	font-family: 'Century Gothic', sans-serif;
	box-sizing: border-box;
}

/*NAVBAR STYLE*/

.navbar{
	width: 100%;
	min-height: 100vh;
}

nav{
	background: #87CEEB;
	width: 100%;
	padding: 10px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.user-icon{
	width: 40px;
	border-radius: 50%;
	cursor: pointer;
	margin-left: 30px;
}

nav ul{
	width: 0%;
	text-align: right;
	padding: 0;
	margin: 0;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

nav ul li a{
	color: black;
	text-decoration: none;
}

nav ul:hover li a{
	font-weight: 600;
	color: white;
}

.sub-menu-wrap{
	position: absolute;
	top: 100%;
	right: 10%;
	width: 320px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
	max-height: 400px;
}

.sub-menu{
	background: #87CEEB;
	padding: 20px;
	margin: 10px;
}

.user-info{
	display: flex;
	align-items: center;
}

.user-info h3{
	font-weight: 500;
}

.user-info img{
	width: 60px;
	border-radius: 50%;
	margin-right: 15px;
}

.sub-menu hr{
	border: 0;
	height: 1px;
	width: 100%;
	background: white;
	margin: 15px 0 10px;
}

.sub-menu-link{
	display: flex;
	align-items: center;
	text-decoration: none;
	color: black;
	margin: 12px 0;
}

.sub-menu-link p{
	width: 100%;
}

.sub-menu-link img{
	width: 40px;
	background: white;
	border-radius: 50%;
	padding: 8px;
	margin-right: 15px;
}

.sub-menu-link span{
	font-size: 22px;
	transition: transform 0.5s;
}

.sub-menu-link:hover span{
	transform: translateX(5px);
}

.sub-menu-link:hover p{
	font-weight: 600;
}

/*FOOTER STYLE*/

.footer{
	padding: 10px 0;
	background-color: #87CEEB;
}

.footer .social{
	text-align: center;
	padding-bottom: 5px;
}

.footer .social a{
	font-size: 45px;
	color: darkcyan;
	line-height: 50px;
	display:inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 50px;
	opacity: 0.50;
}

.footer .social a:hover{
	opacity: 1;
	cursor: pointer;
}

.footer ul{
	font-size: 20px;
	text-align: center;
}

.footer ul li{
	display: inline-block;
	padding: 10 50px;
}

.footer ul li a{
	color: darkcyan;
	opacity: 0.5;
}

.footer ul li a:hover{
	opacity: 1;
	cursor: pointer;
}

.footer p{
	text-align: center;
	color: darkcyan;
}

